@media only screen and (min-width: 700px) {
    .contentafterlink {
       text-align: center;
    }
  ul {
      padding-left: 0.1rem;
      -webkit-margin-start: 0.2rem
  }
  }
  
  .pagelayout-frontpage div#page{
      background-color: transparent;
      background-size: cover;
  }
  