header#page-header .progress {
    background-color: #d9d9d9;
}
.login-container {
    border-radius: 2rem;
}
.pagelayout-frontpage div#learnrpage{
    background-color: transparent;
    border: 0px solid #dee2e6;
}
.pagelayout-frontpage header#page-header{
    display: none;
}

.pagelayout-frontpage .course-content {
 border: 15px solid #fff;
border-radius: 34px 0 0 0;
}

.pagelayout-frontpage .primary-navigation {
visibility: hidden;
}

.block_ildmetaselect {
   max-width: unset;
}
.metatile-container {
   max-width: 90%;
}